<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/screen.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style='background-image: url("../movie_images/animation_theatre.jpg");background-size: cover;'>
        <div id="card2">
          <img src="/movie_images/Movies.jpg" style="object-fit: cover;width: 350px; height: 220px;">
          <div id="body_content2">
            <h1 style="color: rgb(18, 126, 248); margin-left: 3rem;"><span style="font-size: 2rem;color: red;font-weight: bold;">Sign In </span><span style="color: white;font-size: 2rem;">  or  </span> Sign Up</h1>
            <div id="login_signin">
                <a href="/Sign_in.html"><button id="log">Sign in</button></a>
                <a href="/Sign_up.html"><button id="sign">Sign up</button></a>
            </div>
           </div>
        </div>
</body>
</html>